// Cores
$primary-color: #182C61;
$secondary-color: #44bd32;
$secondary-hover: #4cd137;
$background-color: #f5f6fa;
$text-color: #fff;

// Tamanhos
$max-width: 1024px;
$padding-default: 16px;
$border-radius: 8px;
