.navbar {
    background-color: #e15f41;
}

#cabecalho .nav .nav-link.active  {
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover  {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
    font-size: 28px;
}

#sobre-o-restaurante, #cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: #e15f41
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

#mapframe {
  border: 3px solid #e15f41;;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

#mapframe {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#mapframe:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
     text-decoration: none;
}

#fale-conosco textarea {
    resize: none;
}

@media (max-width: 767px) {

    .carousel-item img {
        height: 280px;
    }

    #mapframe {
        width: 100%;
        aspect-ratio: 4 / 3; 
        
    }
}